DOCKER_COMPOSE_NAMESPACE=dnmp

# Docker Registry 镜像
DOCKER_REGISTRY=docker.io
# DOCKER_REGISTRY=dockerproxy.cn

MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=your_database
MYSQL_USER=your_user
MYSQL_PASSWORD=your_password
