DOCKER_COMPOSE_NAMESPACE=dnmp
# TimeZone
TZ=UTC
# Compose Profiles (Enabled Modules)
COMPOSE_PROFILES=nginx,acme,php85,mysql,redis

# Docker Registry 镜像
DOCKER_REGISTRY=docker.io
# DOCKER_REGISTRY=dockerproxy.net
# DOCKER_REGISTRY=docker.xuanyuan.me
# DOCKER_REGISTRY=docker.1ms.run
# DOCKER_REGISTRY=docker.m.daocloud.io
# DOCKER_REGISTRY=docker.1panel.live
# DOCKER_REGISTRY=dockerhub.timeweb.cloud

# 发行版 debian/alpine
DIST_VERSION=debian

# Nginx 版本 1.30.0-trixie/1.30.0-alpine
NGINX_VERSION=1.30.0-trixie

# APK 镜像源
DOCKER_APK_MIRROR=dl-cdn.alpinelinux.org
# DOCKER_APK_MIRROR=mirrors.tuna.tsinghua.edu.cn

# APT 镜像源
DOCKER_APT_MIRROR=deb.debian.org
# DOCKER_APT_MIRROR=mirrors.tuna.tsinghua.edu.cn

# MySQL
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=your_database
MYSQL_USER=your_user
MYSQL_PASSWORD=your_password

# MariaDB
MARIADB_ROOT_PASSWORD=your_root_password
MARIADB_DATABASE=your_database
MARIADB_USER=your_user
MARIADB_PASSWORD=your_password

# Redis
REDIS_PASSWORD=your_password

# OpenLiteSpeed
OLS_VERSION=1.9.0
