DOCKER_COMPOSE_NAMESPACE=dnmp
# COMPOSE_PROFILES=alpine
NGINX_DOCKERFILE=Dockerfile.trixie
# NGINX_DOCKERFILE=Dockerfile.alpine

# Nginx 版本
VERSION=1.30.0-trixie
# VERSION=1.30.0-alpine

# APK 镜像源
# DOCKER_APK_MIRROR=dl-cdn.alpinelinux.org
# DOCKER_APK_MIRROR=mirrors.tuna.tsinghua.edu.cn

# APT 镜像源
# DOCKER_APT_MIRROR=deb.debian.org
# DOCKER_APT_MIRROR=mirrors.tuna.tsinghua.edu.cn
