DOCKER_COMPOSE_NAMESPACE=dnmp

# Docker Registry 镜像
DOCKER_REGISTRY=docker.io
# DOCKER_REGISTRY=dockerproxy.cn

MARIADB_ROOT_PASSWORD=your_root_password
MARIADB_DATABASE=your_database
MARIADB_USER=your_user
MARIADB_PASSWORD=your_password
