DOCKER_COMPOSE_NAMESPACE=dnmp

# 发行版 debian/alpine
DIST_VERSION=debian

# APK 镜像源
DOCKER_APK_MIRROR=dl-cdn.alpinelinux.org
# DOCKER_APK_MIRROR=mirrors.tuna.tsinghua.edu.cn

# APT 镜像源
DOCKER_APT_MIRROR=deb.debian.org
# DOCKER_APT_MIRROR=mirrors.tuna.tsinghua.edu.cn